
#time-line .page-header {
	background-image: url(img/banner_12.jpg);
}

.time-line-vertical {
	list-style: none;
}

	.time-line-vertical .time-line-item {
		position: relative;
		width: 60%;
	}

		.time-line-vertical .time-line-item:before {
			content: "";
			position: absolute;
			bottom: 0;
			display: block;
			width: 50%;
			height: 100%;
			border-bottom: 0.2rem solid var(--prima);
		}

		.time-line-vertical .time-line-item:after {
			content: "";
			position: absolute;
			top: calc(50% + 1rem);
			display: block;
			border-radius: 50%;
			width: 1rem;
			height: 1rem;
			background-color: var(--prima);
		}

		.time-line-vertical .time-line-item:nth-child(2n+1) {
			margin-left: auto;
			padding: 5% 0 5% 5%;
		}

			.time-line-vertical .time-line-item:nth-child(2n+1):after {
				left: -0.4rem;
			}

			.time-line-vertical .time-line-item:nth-child(2n+1):before {
				left: 0;
				border-left: 0.2rem solid var(--prima);
				border-bottom-left-radius: 2rem;
			}

		.time-line-vertical .time-line-item:nth-child(2n) {
			margin-right: auto;
			padding: 5% 5% 5% 0;
		}

			.time-line-vertical .time-line-item:nth-child(2n):after {
				right: -0.4rem;
			}

			.time-line-vertical .time-line-item:nth-child(2n):before {
				right: 0;
				border-right: 0.2rem solid var(--prima);
				border-bottom-right-radius: 2rem;
			}

		.time-line-vertical .time-line-item:first-child:before {
			height: 50%;
		}

		.time-line-vertical .time-line-item:last-child:before {
			top: 0;
			height: 60%;
			border-bottom: none;
			border-radius: 0;
		}

	.time-line-vertical .time-line-date {
		display: block;
	}

	.time-line-vertical .component-thumb-image-wrapper {
		position: relative;
		height: 0;
		padding-bottom: 50%;
	}

	.time-line-vertical .component-thumb-overlay:hover .component-thumb-image-wrapper {
		margin-top: 12.5%;
		margin-bottom: 12.5%;
		padding-bottom: 25%;
	}

	.time-line-vertical .component-thumb-caption:hover .component-thumb-image-wrapper {
		padding-bottom: 50%;
	}

	.time-line-vertical .component-thumb-diagonal:hover .component-thumb-text {
		margin: 2.5% 5%;
	}

	.time-line-vertical .component-thumb-image {
		position: absolute;
		top: -25%;
	}

	.time-line-vertical .time-line-header {
		position: absolute;
		top: 50%;
		line-height: 1rem;
		white-space: nowrap;
	}

	.time-line-vertical .time-line-item:nth-child(2n+1) .time-line-header {
		right: calc(100% + 1rem);
	}

	.time-line-vertical .time-line-item:nth-child(2n) .time-line-header {
		left: calc(100% + 1rem);
	}

	.time-line-vertical .time-line-header:nth-child(2n+2) {
	}
